/* Confirm Dialog */

@import "styles/colors.rasi"

* {
    background-color:       @background;
    text-color:             @foreground;
    font:	 	"Terminess Nerd Font Mono 18";
}

window {
    width:      	   500px;
    padding:    	    25px;
    border:		    5px;
    border-radius:          0px;
    border-color:           @border;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@foreground;
}
